<div
  id="listings"
  data-controller="listings"
>
<div class="container">
  <div class="my-4">
    <%= link_to "New Listing", new_listing_path, class: "btn-blue" %>
  </div>
  <div class="row g-4">
    <% @listings.each do |list| %>
      <div class="col-md-4 mt-4">
        <%= link_to list, class: "text-decoration-none" do %>
          <div class="card profile-card-5">
              <div class="card-img-block">
              <% if list.photos.attached? %>
                <%= cl_image_tag list.photos[0].key, crop: :fill, class: "card-img-top" %>
               <% else %>
                <img class="card-img-top" src="https://source.unsplash.com/random/650x430/?surfer/<%= list.title %>" alt="Card image cap">
               <% end %>
              </div>
              <div class="card-body pt-0">
                <h5 class="card-title"><%= list.title %></h5>
                <p class="card-text">From $ <%= list.price.to_i %> / h</p>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
