


<%# <div class="container py-5">

  <div class="row">
    <% @listings.each do |list| %>
      <%# <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to listing_path(list), class:"text-decoration-none" do %>
          <%# <div class="card-category" data-aos="zoom-in" style="background-color:red">
            <%= list.title %>
          <%# </div>
        <% end %>
      <%# </div>
    <% end %>
  <%# </div>
</div>   %>

<div class="container">
  <div class="row g-4">
    <% @listings.each do |list| %>
      <div class="col-md-4 mt-4">
        <div class="card profile-card-5">
          <div class="card-img-block">
             <img class="card-img-top" src="https://source.unsplash.com/random/650x430/?surfer/<%= list.title %>" alt="Card image cap">
            <%# <% case "photos" %>
              <%# <% when listings[0] %>
                <%# <img class="card-img-top" src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80" alt="Card image cap"> %>
              <%# <% when listings[1] %>
                <%# <img class="card-img-top" src="https://images.unsplash.com/photo-1513737567531-bc431c8e5e85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80" alt="Card image cap"> %>
            <%# <% end %>
          </div>
          <div class="card-body pt-0">
            <%= link_to list, class: "text-decoration-none" do %>
              <h5 class="card-title"><%= list.title %></h5>
            <% end %>
            <p class="card-text">Price</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
