
<body>


  <form>
    <%= simple_form_for @listing do |f| %>
      <other><%= f.input :title %></other>
      <%= f.input :content %>
      <%= f.input :location %>
      <price><%= f.input :price %></price>
      <button><%= f.submit class: 'btn btn-flat' %></button>
    <% end  %>
  </form>


</body>
