



<div class="container py-5">
  <div class="row align-items-stretch">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
          <h1 class="text-center mb-0"><%= @listing.title %></h1>
          <%= link_to "Go back", listings_path, class: "btn btn-primary text-white" %>
        </div>
        <div class="card-body">
          <p class="mb-3"><%= @listing.location %></p>
          <div class="row">
            <div class="col-6">
              <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
              </div>
            </div>
          </div>
          <p class="mb-4"><%= @listing.content %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
     <div class="card">
        <div class="card-body">
          <h3><%= @listing.content %></h3>
        </div>
     </div>
    </div>
    <div class="col-4">
      <div class="card mb-4">
        <div class="card-body bg-white">
          <h4 class="mb-3">$<%= @listing.price  %></h4>
          <%= link_to "Book", new_listing_booking_path(@listing), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
