<div
  data-controller="edit-listing"
>
    <%= simple_form_for @listing do |f| %>
      <%= f.input :title, input_html: { class: 'special' } %>
      <%= f.input :content, as: :text %>
      <%= f.input :location, wrapper_html: {class: 'inputter'} %>
      <%= f.input :price %>
      <%= f.input :photos, as: :file, input_html: {multiple: true} %>
 <!-- > <div>
    <label for="formFileLg" class="form-label">Upload photos</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
  </div>  -->
      <div id = "my_form">
      <%= f.submit class: 'btn-red border-0' %>
      </div>
    <% end  %>
</div>
