<div id="navbar" >
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container">
      <a class="navbar-brand" href="/listings" id = "logo">
        <%= image_tag "surf-with-pros.png", alt: "logo" %>

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="d-flex navbar-nav justify-content-center align-items-center">

          <%# <li class="nav-item me-5">
            <form class="d-flex">
              <div class="form-group me-2">
                <select class="form-control">
                  <option value="">Select location</option>
                  <option value="canggu">Canggu</option>
                  <option value="uluwatu">Uluwatu</option>
                  <option value="sanur">Sanur</option>
                </select>
              </div>
              <div class="form-group me-2">
                <input type="date" class="form-control" placeholder="Select a date" lang="en">
              </div>
              <button class="btn btn-primary me-2" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </li> %>
          <li class="me-5">
            <%= link_to "New Listing", new_listing_path, class: "" %>

          </li>
          <li class="nav-item dropdown ">

            <% if !user_signed_in? %>
                <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              <% end %>
              <% if user_signed_in? %>
            <%= image_tag "blank-profile-picture.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle:"dropdown"},  'aria-haspopup': true,  'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", profile_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
              <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
